server:
  port: 8081

spring:
  application:
    name: redisson-hyperloglog-visit
  redis:
    redisson:
      config: |
        singleServerConfig:
          address: "redis://host.docker.internal:6379"
